/* @import "tailwindcss"; */

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: auto;
  min-height: 100dvh;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.navMain {
  max-width: 270px;
  height: auto;
  border-radius: 10px;
  position: sticky;
  top: 0px;
  margin-top: -27px;
}
.logo {
  height: 80px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  img {
    width: 60%;
    height: auto;
  }
}

.navBox {
  max-width: 270px;
  height: auto;
  background-color: #f0f8ff05;
  padding: 10px 10px 15px 10px;
  border-radius: 10px;
}

.navs {
    display: inline-flex;
    width: 100%;
    /* justify-content: left; */
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f0f8ff05; */
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;
    font-weight: bold;
}
.navs:hover {
  transform: scale(1.02);
  transition: all 0.1s;
  background-color: #f0f8ff10;
}
.navs.active {
  background-color: #f0f8ff10;
}

.tweetBtn {
  width: calc(100% - 20px);
  font-size: 15px;
  font-weight: bold;
  background-color: #128cc5;
  border: none;
  border-radius: 50px;
  outline: none;
  margin-top: 20px;
  transition: all 0.1s;
  align-self: center;
  margin-left: 3px;
  position: relative;
}

.tweetBtn:active {
  border: none;
  outline: none;
  transition: all 0.1s;

}
.tweetBtn:hover {
  transform: scale(0.95);
  transition: all 0.1s;
  opacity: 0.85;
}

.feedBox {
  max-width: 600px;
  width: calc(100%);
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.createPost {
  background-color: #f0f8ff05;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
  padding-bottom: 4px;
}

.feedFromSelector {
  width: calc(100% - 50px);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 25px;
  font-size: 18px;
  font-weight: 600;
}

.forYou, .following {
  position: relative;
  padding: 15px 15%;
  margin-top: 1px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  span {
    width: 70%;
    height: 3px;
    position: absolute;
    bottom: -1px;
    border-radius: 3px;
    background-color: #128cc5;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
}
.forYou:hover, .following:hover {
  opacity: 0.6;
}

.forYou.active, .following.active {
  span {
    display: block;
  }
}

.forYou.active:hover, .following.active:hover {
  opacity: 1;
}

.settingsBtn {
  position: absolute;
  right: 25px;
  font-size: 23px;
  top: 20px;
  color: #e3e3e3;
}

.createPostArea {
  /* min-height: 200px; */
  width: calc(100% - 40px);
  position: relative;
  margin: 20px;
  border-radius: 10px;
  border: 2px dashed #353535;
  .profilePic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #353535;
    position: absolute;
    top: 15px;
    left: 15px;
    user-select: none;
    pointer-events: none;
  }
  .inputArea {
    textarea {
      width: calc(100% - 100px);
      position: relative;
      left: 45px;
      margin-top: 20px;
      padding-right: 20px;
      height: auto;
      resize: none;
      /* min-height: 60px; */
      max-height: 400px;
      overflow-y: auto;
      outline: none;
      border: none;
    }
    .placeHolder {
      position: absolute;
      color: #a4a4a4;
      top: 20px;
      left: 95px;
      z-index: -1;
      user-select: none;
      pointer-events: none;
    }
  }
}

.optionsPanel {
  width: 100%;
  position: relative;
  .options {
    color: #33cbfe;
    width: fit-content;
    position: relative;
    font-size: 20px;
    left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 15px 0px;
    span {
      margin: 0px 1px;
      cursor: pointer;
      transition: all 0.1s;
      padding: 7px;
      border-radius: 50%;
      background-color: transparent;
    }
    span:hover {
      background-color: #353535;
      /* opacity: 0.8; */
      transform: scale(1.1);
      transition: all 0.1s;
    }
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    background: #118cc5;
    padding: 5px 25px;
    border-radius: 30px;
    font-size: 14px;
    color: #e5f0f8;
    transition: all 0.1s;
    border: none;
    outline: none;
  }
  button:hover {
    transform: translateY(-50%) scale(0.95);
    transition: all 0.1s;
    opacity: 0.85;
  }
}

.feed {
  background-color: #f0f8ff05;
  width: 100%;
  height: auto;
  position: relative;
  min-height: 200px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.tweetBox {
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 2px solid #353536;
}

.post {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  p {
    position: relative;
    text-align: left;
    top: 15px;
    left: 80px;
    width: fit-content;
    font-size: 14px;
    .authorName {
      font-weight: bold;
      font-size: 16px;
    }
    .authorUsername {
      font-size: 14px;
      opacity: 0.5;
    }
    .uploadedWhen {
      font-size: 14px;
      opacity: 0.5;
    }
  }
  .moreOptions {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 13px;
    padding: 5px;
    background: transparent;
    border-radius: 50%;
    transition: all 0.1s;
    cursor: pointer;
  }
  .moreOptions:hover {
    background: #353535;
    transition: all 0.1s;
  }
}
hr {
  width: calc(100% - 0px);
  height: 2px;
  background-color: #353535 !important;
  outline: none;
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: -10px 0px 0px 0px;
}

.postContent {
  position: relative;
  width: calc(100% - 85px);
  text-align: left;
  font-size: 15px;
  left: 80px;
  margin-top: 20px;
  padding-right: 20px;
}

.attachedContentBox {
  position: relative;
  width: 100%;
  height: 200px;
  left: 0px;
  padding-right: 20px;
  margin-top: 15px;
  display: none;
}

.reactArea {
  width: calc(100% - 80px);
  height: 30px;
  position: relative;
  left: 80px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0px;
  font-size: 16px;
  .additionalBtns {
    width: 60px;
    display: flex;
    flex-direction: row;
    /* gap: 15px; */
    position: relative;
    margin-right: 15px;
    align-items: center;
    justify-content: space-between;
  }
  span {
    cursor: pointer;
    transition: all 0.1s;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    background-color: transparent;

    span {
      position: absolute;
      font-size: 13px;
      left: 23px;
      background: none;
    }
  }
  .commentBtn:hover, .viewsBtn:hover, .saveBtn:hover, .shareBtn:hover {
    background-color: #0099ff19;
    color: #33cbfe;
  }
  .repostBtn:hover {
    background-color: #00ffaa19;
    color: #00ffaa;
  }
  .likeBtn:hover {
    background-color: #ff007724;
    color: #f91980;
  }
}


.authorPfp {
  width: 50px;
  height: 50px;
  border: 1px solid #353536;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
}

.rightBar {
  width: 35%;
  max-width: 350px;
  background-color: #f0f8ff05;
  border-radius: 10px;
  position: sticky;
  top: 30px;
  padding-bottom: 10px;
}
.searchBox {
  width: calc(100% - 20px);
  height: 50px;
  position: relative;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%);
  background: #353536;
  border-radius: 10px;
  span {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  #searchInput {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    padding: 3px 2px 3px 0px;
    width: calc(100% - 60px);
    outline: none;
    border: none;
  }
  p {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    color: #a5a5a5;
    pointer-events: none;
    user-select: none;
    z-index: -1;
  }
}