.messagesBox {
    width: calc(100% - 400px);
    max-width: none;
    height: calc(100dvh - 65px);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.chatsList {
    max-height: calc(100% - 100px);
    height: auto;
    min-height: 200px;
    width: 30%;
    min-width: 300px;
    background-color: #f0f8ff05;
    border-radius: 20px;
    position: relative;
    h3 {
        font-size: 22px;
        text-align: left;
        padding: 20px 35px;
    }
    input {
        width: calc(100% - 40px);
        border: 1px solid #f0f8ff10;
        padding: 10px 55px 10px 25px;
        border-radius: 30px;
        background-color: #f0f8ff05;
        outline: none;
    }
    .allChats {
        width: 100%;
        max-height: calc(100dvh - 400px);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 20px;
    }
}

.chatsBox {
    max-height: calc(100% - 100px);
    height: auto;
    min-height: 200px;
    width: 70%;
    background-color: #f0f8ff05;
    border-radius: 20px;
    position: relative;
}

